{#def text, id="btn", route="" #}

<form action="{{ route }}" method="GET">
    <button
        class="fixed bottom-28 right-5 bg-red-500 text-white rounded-full p-8"
        id="{{ id }}"
    >
        {{ text }}
    </button>
</form>