<Layout title="Jazzle">
    <TopNav title="The Royal Highlanders">
        <a href="/events">Events</a>
        <a href="/sharktank">Shark Tank</a>
        <a href="/election">Election</a>
        <a href="/constitution">Constitution</a>
        <a href="/feedback">Feedback</a>
    </TopNav>
    <LoginForm title="Admin Login" input_one="email" input_two="password"></LoginForm>
</Layout>