{#def candidate #}

<Layout title="The Royal Highlanders">
    <div class="h-screen flex flex-col justify-center items-center">
        <div><h1 class="text-black text-6xl font-bold text-center mb-4">{{ candidate.full_name }}</h1></div>
        <div><h1 class="text-black text-4xl font-bold text-center mb-4">{{ candidate.running }}</h1></div>
        <img src="{{ url_for('static', filename='uploads/images/' + candidate.img) }}" alt="Event Image" class="w-1/4 h-auto" />
        <h1 class="text-black text-2xl font-semibold text-center mb-4">{{ candidate.bio }}</h1>
        <h1 class="text-black text-2xl font-semibold text-center mb-4">{{ candidate.platform }}</h1>
    </div>
</Layout>
