<Layout title="The Royal Highlanders">
    <div class="h-screen flex flex-col justify-center items-center">
        <img src="{{ url_for('static', filename='assets/images/committee_info.png') }}" alt="Committee Info Image" class="w-full h-full object-cover" />
    </div>
    <LinkButton text="Apply for a position as a committee head" route="/committee_head_application"></LinkButton>
</Layout>