<Layout title="The Royal Highlanders">
    <div class="h-screen flex flex-col justify-center items-center">
        <img src="{{ url_for('static', filename='assets/images/scroll.jpg') }}" alt="Shark Tank Image" class="w-full h-full object-cover" />
        <div class="absolute inset-0 flex flex-col justify-center items-center">
            <h1 class="text-black text-6xl font-bold text-center mb-4">Coming soon</h1>
        </div>
    </div>
</Layout>