<Layout title="The Royal Highlanders">
    <div class="h-screen flex flex-col justify-center items-center">
        <img src="{{ url_for('static', filename='assets/images/sharktank.webp') }}" alt="Shark Tank Image" class="w-full h-full object-cover" />
        <div class="absolute inset-0 flex flex-col justify-center items-center">
            <h1 class="text-white text-6xl font-bold text-center mb-4">Swim with the sharks?</h1>
            <h1 class="text-white text-4xl font-bold text-center mb-4">Wednesday, 6:00-7:00pm in C217</h1>
            <p class="text-white text-lg text-center">Pitch your event ideas to the hall club Event Shark Tank!</p>
        </div>
    </div>
</Layout>