{#def msg #}

<Layout title="The Royal Highlanders">
    <div class="bg-green-200 border-l-4 border-green-500 text-green-700 p-4" role="alert">
        <p class="font-bold">Success</p>
        <p>{{ msg }}</p>
    </div>
</Layout>